*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
    color: #222;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button::-moz-focus-inner {
  border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
	background-color: #fff;
}

.iconSettings {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M24 13.6v-3.2c-1.7-.6-2.7-.8-3.2-2-.5-1.3 0-2.2.8-3.7l-2.3-2.3c-1.5.7-2.4 1.3-3.7.8-1.2-.5-1.4-1.6-2-3.2h-3.2c-.6 1.6-.8 2.7-2 3.2-1.3.5-2.2 0-3.7-.8L2.4 4.7C3 6.2 3.7 7 3.2 8.4c-.5 1.2-1.6 1.4-3.2 2v3.2c1.6.6 2.7.8 3.2 2 .5 1.3 0 2.2-.8 3.7l2.3 2.3c1.5-.7 2.4-1.3 3.7-.8 1.2.5 1.4 1.6 2 3.2h3.2c.6-1.6.8-2.7 2-3.2 1.3-.5 2.2 0 3.7.8l2.3-2.3c-.7-1.5-1.3-2.4-.8-3.7.5-1.2 1.6-1.4 3.2-2zM12 16a4 4 0 110-8 4 4 0 010 8z'/%3E%3C/svg%3E");
}

.iconAbout {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M12 2a10 10 0 110 20 10 10 0 010-20zm0-2a12 12 0 100 24 12 12 0 000-24zm1.3 17a1.2 1.2 0 11-2.5 0 1.2 1.2 0 012.4 0zm1.3-10c-.6-.6-1.5-1-2.5-1-2.2 0-3.6 1.6-3.6 4h2c0-1.5.8-2 1.6-2 .6 0 1.3.4 1.3 1.2 0 .9-.4 1.3-1 1.8-1.4 1.4-1.4 2-1.4 3.5h2c0-.7 0-1.2 1-2.2.6-.7 1.5-1.6 1.5-3 0-1-.3-1.7-.9-2.3z'/%3E%3C/svg%3E");
}

.iconContribute {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M12 4.4C10-1 0-.2 0 8c0 4 3 9.5 12 15 9-5.5 12-11 12-15 0-8.1-10-9-12-3.6z'/%3E%3C/svg%3E");
}

.iconMedical {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M7 6V4c0-1.1.9-2 2-2h6a2 2 0 012 2v2h5a2 2 0 012 2v12a2 2 0 01-2 2H2a2 2 0 01-2-2V8c0-1.1.9-2 2-2h5zm6 7v-3h-2v3H8v2h3v3h2v-3h3v-2h-3zm1.5-9h-5c-.3 0-.5.2-.5.5V6h6V4.5c0-.3-.2-.5-.5-.5'/%3E%3C/svg%3E");
    background-color: rgba(0, 138, 255, 0.35);
}

.iconSupermarket2 {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg)' transform='rotate(360)' viewBox='0 0 512 496'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M448 69H137l-3-12q-5-23-22.5-37.5T70 5H21q-9 0-15 6T0 27q0 9 6 15t15 6h49q19 0 22 17l49 256q6 21 23.5 34t38.5 13h202q10 0 16-6t6-15q0-22-22-22H203q-14 0-20-12l-2-9h214q20 0 36.5-12t22.5-31l58-123v-5q0-27-18.5-45.5T448 69zM192 261h-19l-28-149h47v149zm85 0h-42V112h42v149zm86 0h-43V112h43v149zm53-17v2q-3 10-11 13V112h43q18 0 21 17zM256 432q0 18-12.5 30.5T213 475q-17 0-29.5-12.5T171 432t12.5-30.5T213 389q18 0 30.5 12.5T256 432zm171 0q0 18-12.5 30.5T384 475t-30.5-12.5T341 432t12.5-30.5T384 389t30.5 12.5T427 432z'/%3E%3Cpath fill='rgba(0, 0, 0, 0)' d='M0 0h512v496H0z'/%3E%3C/svg%3E");
    background-color: rgba(255, 165, 0, 0.35);
}

.iconBank2 {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg)' transform='rotate(360)' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M15 18.5A6.5 6.5 0 019.2 15H14c.6 0 1-.5 1-1s-.5-1-1-1H8.6l-.1-1v-1H14c.6 0 1-.5 1-1s-.5-1-1-1H9.2A6.5 6.5 0 0115 5.5c1.3 0 2.4.4 3.4 1 .5.3 1.2.2 1.6-.2.6-.6.4-1.5-.3-2A9 9 0 0015 3a9 9 0 00-8.5 6H4c-.6 0-1 .5-1 1s.5 1 1 1h2a8.3 8.3 0 000 2H4c-.6 0-1 .5-1 1s.5 1 1 1h2.5a9 9 0 0013.2 4.6c.7-.4.9-1.3.3-2-.4-.3-1-.4-1.6 0-1 .5-2.1.9-3.4.9z'/%3E%3Cpath fill='rgba(0, 0, 0, 0)' d='M0 0h24v24H0z'/%3E%3C/svg%3E");
    background-color: rgba(255, 0, 0, 0.4);
}

.iconAccess {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M7 9.9v2.4a5.5 5.5 0 108.5 6.4l1.3 1.9A7.5 7.5 0 117 9.9zm10 .1a1 1 0 010 2h-4c0 2.6 3.6 1 5.3 3.4l2.6 4.1.1.5c0 .4-.2.7-.5.9a1 1 0 01-1.4-.4l-2-3c-.7-1.2-1.3-1.4-4.1-1.5-2 0-4-.4-4-3V9a2 2 0 013.4-1.4c.4.4.6.9.6 1.4v1h4zM11 0a3 3 0 110 6 3 3 0 010-6z'/%3E%3C/svg%3E");
    background-color: rgba(0, 255, 0, 0.35);
}

.iconChurch {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg)' transform='rotate(360)' viewBox='0 0 640 512'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M464.5 246.7L352 179.2V128h48a16 16 0 0016-16V80a16 16 0 00-16-16h-48V16a16 16 0 00-16-16h-32a16 16 0 00-16 16v48h-48a16 16 0 00-16 16v32a16 16 0 0016 16h48v51.2l-112.5 67.5A32 32 0 00160 274V512h96v-96a64 64 0 11128 0v96h96V274.1a32 32 0 00-15.5-27.4zM0 396v100a16 16 0 0016 16h112V320L19.4 366.5A32 32 0 000 396zm620.6-29.5L512 320v192h112a16 16 0 0016-16V396a32 32 0 00-19.4-29.5z'/%3E%3Cpath fill='rgba(0, 0, 0, 0)' d='M0 0h640v512H0z'/%3E%3C/svg%3E");
    background-color: violet;
}

.iconParent {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg)' transform='rotate(360)' viewBox='0 0 32 32'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M14.4 12.2a5.2 5.2 0 01-3 1c-1.2 0-2.3-.4-3.2-1-.7.6-1.5 1.5-2 2.6-1.5 2.6-1.7 5.2-.4 5.9.5.3 1 0 1.7-.5a10.5 10.5 0 00-.2 1.8c0 3 1.2 5.4 2.6 5.4.8 0 1.2-1 1.4-2.2.2 1.3.6 2.2 1.5 2.2 1.4 0 2.5-2.4 2.5-5.4l-.1-1.8c.6.5 1.1.8 1.7.5 1.2-.7 1-3.3-.4-6-.6-1-1.3-1.9-2-2.5zm-3 0a4.3 4.3 0 100-8.6 4.3 4.3 0 000 8.6zM22 17.7a2.7 2.7 0 000-5.5 2.7 2.7 0 00-2.7 2.7 2.7 2.7 0 002.7 2.8zm3.3 1.6a6 6 0 00-1.3-1.7 3.3 3.3 0 01-4 0c-.5.4-1 1-1.3 1.7-1 1.7-1 3.3-.3 3.8.4.2.7 0 1.1-.3a6.9 6.9 0 000 1.2c0 1.8.7 3.4 1.6 3.4.5 0 .8-.6.9-1.4.1.8.4 1.4 1 1.4.8 0 1.5-1.6 1.5-3.4v-1.2c.3.3.7.5 1 .3.8-.5.7-2.1-.2-3.8z'/%3E%3Cpath fill='rgba(0, 0, 0, 0)' d='M0 0h32v32H0z'/%3E%3C/svg%3E");
    background-color: violet;
}

.iconGym {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg)' transform='rotate(360)' viewBox='0 0 416 512'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M272 96a48 48 0 100-96 48 48 0 000 96zM114 317l-15 35H32a32 32 0 000 64h77c20 0 37-11 45-29l8-21-10-6a95 95 0 01-38-43zm270-93h-44l-26-53a96 96 0 00-62-51l-71-21c-28-7-58-1-81 17l-39 30a32 32 0 1038 51l40-30c8-6 18-8 25-7l15 5-37 87c-13 30-2 64 26 81l85 50-28 87a32 32 0 1062 20l31-102c6-20-3-43-21-54l-62-36 32-78 20 41c8 16 25 27 43 27h54a32 32 0 000-64z'/%3E%3Cpath fill='rgba(0, 0, 0, 0)' d='M0 0h416v512H0z'/%3E%3C/svg%3E");
    background-color: rgba(255, 255, 0, 0.75);
}

.iconPet {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg)' transform='rotate(360)' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Ccircle cx='4.5' cy='9.5' r='2.5' fill='%23222'/%3E%3Ccircle cx='9' cy='5.5' r='2.5' fill='%23222'/%3E%3Ccircle cx='15' cy='5.5' r='2.5' fill='%23222'/%3E%3Ccircle cx='19.5' cy='9.5' r='2.5' fill='%23222'/%3E%3Cpath fill='%23222' d='M17.3 14.9l-2.4-3c-.5-.5-1-1-1.8-1.3a2 2 0 00-.3 0l-.8-.1h-.8a2 2 0 00-.3.1c-.7.3-1.3.8-1.8 1.4l-2.4 2.9c-1.4 1.3-3 2.7-2.7 4.8.3 1 1 2 2.4 2.3.7.1 3-.5 5.5-.5h.2c2.5 0 4.8.6 5.5.5 1.3-.3 2-1.3 2.3-2.3.4-2-1.2-3.5-2.6-4.8z'/%3E%3Cpath fill='rgba(0, 0, 0, 0)' d='M0 0h24v24H0z'/%3E%3C/svg%3E");
    background-color: rgba(255, 255, 0, 0.75);
}

.iconPerson {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg)' transform='rotate(360)' viewBox='0 0 1024 1025'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M1024 958q0 12-13.5 22T969 996.5t-57.5 12-75.5 8.5-80 4.5-87.5 2.5-81 1h-151l-81-1-87.5-2.5-80-4.5-75.5-8.5-57.5-12L13.5 980 0 958q2-88 110-155.5T384 713v-33q-52-23-90-65t-60-98.5-32-121T192 256q0-64 25-114t69-80.5 101-46T512 0t125 15.5 101 46 69 80.5 25 114q0 350-192 426v31q166 22 274 89.5T1024 958z'/%3E%3Cpath fill='rgba(0, 0, 0, 0)' d='M0 0h1024v1025H0z'/%3E%3C/svg%3E");
}

.iconHome {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg)' transform='rotate(360)' viewBox='0 0 1024 1024'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M947 505L535 93a32 32 0 00-46 0L78 505a64 64 0 0045 109h43v294c0 18 14 32 32 32h250V716h112v224h266c18 0 32-14 32-32V614h43a64 64 0 0045-109z'/%3E%3Cpath fill='rgba(0, 0, 0, 0)' d='M0 0h1024v1024H0z'/%3E%3C/svg%3E");
}

.iconFb {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M9 8H6v4h3v12h5V12h3.6l.4-4h-4V6.3c0-1 .2-1.3 1.1-1.3H18V0h-3.8C10.6 0 9 1.6 9 4.6V8z'/%3E%3C/svg%3E");
  background-color: rgba(0, 138, 255, 0.35);
}

.iconGitlab {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='-ms-transform:rotate(360deg);-webkit-transform:rotate(360deg)' transform='rotate(360)' viewBox='0 0 1024 1024'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M911 553L802 182c-7-20-24-34-45-34s-40 13-47 33l-72 215H386l-72-215c-7-20-24-33-46-33s-40 14-45 34L114 554c-4 14 1 29 12 37l386 289 386-289c11-8 17-23 12-37z'/%3E%3Cpath fill='rgba(0, 0, 0, 0)' d='M0 0h1024v1024H0z'/%3E%3C/svg%3E");
  background-color: #fc6d26;
}

.cctracker {
    background-image: url(/media/cctracker.png);
}

.cleancode {
    background-image: url(/media/cleancode.png);
    background-position: bottom center !important;
}

.iconInstall {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23222' d='M12 21l-8-9h6V0h4v12h6l-8 9zm9-1v2H3v-2H1v4h22v-4h-2z'/%3E%3C/svg%3E");
}




.blue {
   background-color: rgba(0, 138, 255, 0.35);
}

.green {
    background-color: rgba(0, 255, 0, 0.35);
}




p {
    font-size: 1.2rem;
    margin: 1rem;
    line-height: 1.5;
}

h5 {
    font-size: 1.2rem;
    margin: 1rem;
    line-height: 1.5;
}

p a {
    text-decoration: none;
    background-color: rgba(0, 138, 255, 0.35);
    display: inline;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
}




.bigCard {
    overflow: hidden;
    height: 50vw;
    margin: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    text-decoration: none;
    box-shadow: 0 0 0.25rem black;
    text-align: center;
}

.bigCard p {
    background-color: white;
    margin: 0;
    line-height: 3.6rem;
}




.bigText {
  display: flex;
  text-decoration: none;
}

.bigText span {
    display: block;
    min-width: 3rem;
    max-width: 3rem;
    height: 3rem;
    margin: 1rem 0 1rem 1rem;
    border-radius: 500px;
    background-size: 66%;
    background-repeat: no-repeat;
    background-position: center;
}




.text {
    padding: 0 0 5rem 0;
}




#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}




.controls {
    display: flex;
    justify-content: space-between;
}

.controls a {
    height: 3rem;
    flex: 1;
    margin: 0 0.75rem 0 0;
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 0.15rem black;
    border-radius: 0.5rem;
    background-size: auto 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.controls a:active {
    box-shadow: 0 0 0 black;
    transform: scale(0.98);
}

.controls a:last-child {
    margin: 0;
}




.button {
    display: block;
    margin: 3rem 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem black;
}

.button:active {
    box-shadow: 0 0 0 black;
    transform: scale(0.98);
}




.bigButton {
    margin: 1rem 0;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    line-height: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.15rem black;
    background-color: #eee;
}

.bigButton:active {
    box-shadow: 0 0 0 black;
    transform: scale(0.98);
}




.backtostart {
    position: fixed;
    width: 100%;
    background-color: white;
    bottom: 0;
    box-shadow: 0 0 0.5rem black;
}


.backtostart a {
    background-color: rgba(0, 255, 0, 0.35);
    display: block;
    margin: 1rem;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 2;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem black;
}

.backtostart a:active {
    box-shadow: 0 0 0 black;
    transform: scale(0.98);
}




#firsttime{
    display: none;
}




.options {
    flex: 1;
    display: grid;
}

.options .row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.options .row:last-child {
    margin: 0;
}

.options a {
    background-size: auto 40%;
    background-repeat: no-repeat;
    background-position: center 10%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.15rem black;
    text-decoration: none;
    font-size: 1.2rem;
    flex: 1;
}

.options a:active {
    box-shadow: 0 0 0 black;
    transform: scale(0.98);
}

.options a:first-child {
    margin: 0 1rem 0 0;
}

.options a span {
    display: block;
    width: 100%;
    margin: auto 0 0 0;
    color: #222;
}




h2 {
    text-align: center;
    padding: 0 1rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    margin: 1rem;
    font-weight: normal;
    background-color: #eee;
    line-height: 2;
}




h6 {
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin: 1rem;
    font-weight: normal;
    background-color: #eee;
    line-height: 1.3rem;
}




form {
    margin: 1rem;
}

form input {
    display: block;
    width: 100%;
    margin: 3rem auto;
    font-size: 1.2rem;
    line-height: 2;
    border: solid 1px #222;
    background-size: auto 50%;
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    padding: 0 0 0 2.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 0, 0.1);
}

form button {
    display: block;
    width: 100%;
    margin: 3rem 0;
    font-size: 1.2rem;
    line-height: 2;
    border: medium none;
    background-color: rgba(0, 255, 0, 0.35);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem black;
}

form button:active {
    box-shadow: 0 0 0 black;
    transform: scale(0.98);
}

form a {
    display: block;
    width: 100%;
    margin: 3rem 0;
    font-size: 1.2rem;
    line-height: 2;
    border: medium none;
    background-color: rgba(255, 0, 0, 0.4);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.25rem black;
    text-align: center;
    text-decoration: none;
}

form a:active {
    box-shadow: 0 0 0 black;
    transform: scale(0.98);
}




@media (orientation: landscape) {

    .options a {
        background-image: none;
    }

    .options a span {
        margin: auto;
    }

}

@media screen and (orientation: landscape) {

    .options a {
        background-image: none;
    }

    .options a span {
        margin: auto;
    }

}

@media screen and (max-width: 320px) and (orientation: portrait) {

    html {
        font-size: 90%;
    }

    .options a {
        background-image: none;
    }

    .options a span {
        margin: auto;
    }

}

@media screen and (min-width: 780px) {

    body {
        width: 780px;
        margin: 0 auto;
    }

    .backtostart {
        width: 780px;
    }

    .bigCard {
        height: 20rem;
    }

}
